# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfvars files, which are used to pass variables to Terraform
*.tfvars
*.tfvars.json

# Ignore any plan output files
*.tfplan

# Ignore .terraformrc and terraform.rc files
.terraformrc
terraform.rc
